<div class="container">
  <div class="row m-5">
    <div *ngFor="let product of products" class="card m-3" style="width: 18rem;">
      <div class=" text-center" *ngIf="product">
        <div class="card-body">
          <h5 class="card-text">{{product.title}}</h5>
          <p class="card-text">{{product.category}}</p>
          <h5 class="card-title">{{product.price | egyCurrency}}</h5>
          <button href="#" class="btn btn-primary m-2" [routerLink]="['/products/list',product.id]">Show details</button>
          <button href="#" class="btn btn-primary m-2" (click)="addToCart()">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>